  <div>
    <div class="results">
      <ul id="example-1">
        <li v-for="result in results">
        <h1>{{ result.movie.title }}</h1>
        <div>Score: {{ result.score.score }}</div>
        <img :src="'http://image.tmdb.org/t/p/w185//' + result.movie.poster_path"></img>
        </li>
      </ul>
    </div>
    <form name="searchForm" class="card card-block" @submit.prevent="handleSubmit">

      <div v-if="message">
        <div class="alert" :class="{'alert-success': message.type === 'success'}" role="alert">
          {{message.text}}
        </div>
      </div>

      <transition
        name="error-animation"
        enter-active-class="animated flipInX"
        leave-active-class="animated flipOutX">
        <div v-if="errors.any()" v-for="error in errors.errors" class="alert alert-danger" role="alert">
          <strong>Doh!</strong> {{error.msg}}
        </div>
      </transition>

      <div class="form-group row" :class="{'has-danger': errors.has('gender') }">
        <label for="gender" class="col-2 col-form-label">Gender</label>
        <select v-model="user.gender" data-vv-rules="required">
          <option>Male</option>
          <option>Female</option>
        </select>
      </div>

      <div class="form-group row" :class="{'has-danger': errors.has('age') }">
        <label for="age-group" class="col-2 col-form-label">Age</label>
        <input type="number" v-model="user.age"></input>
      </div>

      

      <div class="form-group row">
        <div class="col-2"></div>
        <div class="col-10">
          <button type="submit" class="btn btn-primary">
            <i class="fa fa-floppy-o"></i> Save
          </button>
        </div>
      </div>

    </form>
    <hr>
  </div>
</transition>
